<nav class="navbar navbar-dark " style="position: sticky;top: 0;z-index: 9999;">
  <div class="container pt-3 pb-3">
    <!-- ------------------cart---------------- -->
    <div>
      <a class="navbar-brand " routerLink="" style="font-size: 14px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">CART (<span>{{cartCount}}</span>)</a>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" >
        <div class="offcanvas-header pt-5">
          <button type="button" class="btn-close btn-close-white border" data-bs-dismiss="offcanvas" style="border-radius: 50%;background-color: rgba(218, 217, 217, 0.863)" aria-label="Close"></button>
          <h5 class="offcanvas-title text-uppercase" id="offcanvasRightLabel" style="cursor: pointer;" routerLink="/cart" >Cart</h5>
          <p class="m-0" style="border-radius: 20px; background-color: rgba(51, 51, 51, 0.712);padding:4px 11px 5px 11px;font-size: 12px;">items:<span class="bg-transparent">{{cartItem.length}}</span></p>
        </div>
        <div class="offcanvas-body pt-4">
          <div class="row mb-4 p-2 shadow-lg" *ngFor="let i of cartItem" >
            <div class="d-flex justify-content-around mb-2 text-uppercase">
              <div class="col-md-4 col-sm-2 mx-1 d-flex justify-content-center align-items-center" style="background-color: rgba(255, 255, 255, 0.61);width: 35%;border-radius: 10px;">
                <img src="{{i.image}}"
                     style="mix-blend-mode: multiply;width: 100%;object-fit: cover;"  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-6 col-sm-9 mx-1 me-0">
                <p style="font-size: 12px;">{{i.title}}</p>
                <p class="text-secondary" style="font-size: 12px;"><span class="text-light">color: </span>{{i.tag}}</p>
                <p style="font-size: 14px;">{{i.price | currency:'INR'}}</p>
                <div class="d-flex align-items-center justify-content-start">
                  <p class="lead fw-normal mb-0 mx-2 ms-0" (click)="getdecrese(i?._id)" ><i class="fa-solid fa-minus btn-outline-light" style="padding: 12px 12px; border: 1px solid #eeeaea1e; font-size: 10px;border-radius: 50%;"></i></p>
                  <p class="m-0 mx-2" >{{i.quantity}}</p>
                  <p class="lead fw-normal mb-0 mx-2"(click)="getIncrese(i?._id)" ><i class="fa-solid fa-plus btn-outline-light" style="padding: 12px 12px; border: 1px solid #eeeaea1e; font-size: 10px;border-radius: 50%;"></i></p>
                </div>
              </div>
              <div class="col-md-2 col-sm-1 me-1 d-flex flex-column justify-content-between">
                <p>{{i.totalPrice | currency:'INR'}}</p>
                <p class="lead fw-normal mb-0 mx-2" (click)="deleteCartItem(i._id)"><i class="fa-solid fa-trash-can btn-outline-light" style="padding: 12px 12px; border: 1px solid #eeeaea1e; font-size: 10px;border-radius: 50%;"></i></p>
              </div>
            </div>
            
          </div>
          <p class="text-secondary " style="font-size: 12px;"><span class="text-light">Add Order Note</span>:Shipping, taxes and discount codes calculated at checkout..</p>
          <p class="lead fw-normal text-center w-100"><button class="btn btn-outline-light text-uppercase w-100"  style="padding: 9px 20px;border: 1px solid #f0eeee1e;font-size: 12px;border-radius: 20px;" routerLink="/cart">Check out now</button></p>
        </div>
      </div>
<!-- ------------------------wish------------------------- -->
      <a class="navbar-brand me-0" routerLink="" style="font-size: 14px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRighttwo" aria-controls="offcanvasRighttwo"><i class="fa-regular fa-heart"></i> (<span>{{wishCount}}</span>)</a>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRighttwo" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header pt-5">
          <button type="button" class="btn-close btn-close-white border" style="border-radius: 50%;background-color: rgba(218, 217, 217, 0.863)" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <h5 class="offcanvas-title text-uppercase" id="offcanvasRightLabel"  style="cursor: pointer;" title="Click to watch your wishlist" routerLink="/wish" >Wishlist</h5>
          <p class="m-0" style="border-radius: 20px; background-color: rgba(51, 51, 51, 0.712);padding:4px 11px 5px 11px;font-size: 12px;">items:<span class="bg-transparent">{{wishItem.length}}</span></p>
        </div>
        <div class="offcanvas-body pt-4">
          <div class="row mb-4 p-2 shadow-lg" *ngFor="let i of wishItem" >
            <div class="d-flex justify-content-around mb-2 text-uppercase">
              <div class="col-md-4 col-sm-2 mx-1 d-flex justify-content-center align-items-center" style="background-color: rgba(255, 255, 255, 0.61);width: 35%;border-radius: 10px;">
                <img src="{{i.image}}"
                     style="mix-blend-mode: multiply;width: 100%;object-fit: cover;"  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-6 col-sm-9 mx-1 me-0">
                <p style="font-size: 12px;">{{i.title}}</p>
                <p class="text-secondary" style="font-size: 12px;"><span class="text-light">category: </span>{{i.category}}</p>
                <p class="text-secondary" style="font-size: 12px;"><span class="text-light">color: </span>{{i.tag}}</p>
                <div class="d-flex align-items-center justify-content-start">
                  <p class="lead fw-normal mb-0"><button class="btn btn-outline-light text-uppercase"  style="padding: 9px 20px;border: 1px solid #f0eeee1e;font-size: 10px;border-radius: 20px;" (click)="addToCart(i)" >Add to cart</button></p>
                  <p class="lead fw-normal mb-0 mx-2" (click)="deleteItem(i._id)"><i class="fa-solid fa-trash-can btn-outline-light" style="padding: 12px 12px; border: 1px solid #eeeaea1e; font-size: 10px;border-radius: 50%;"></i></p>
                </div>
              </div>
              <div class="col-md-2 col-sm-1 me-1">
                <p>{{i.price | currency:'INR'}}</p>
              </div>
            </div>
            
          </div>
          <p class="text-secondary " style="font-size: 12px;"><span class="text-light">Add Order Note</span>: Shipping, taxes, and discounts applied at checkout.</p>
          <p class="lead fw-normal text-center w-100"><button class="btn btn-outline-light text-uppercase w-100"  style="padding: 9px 20px;border: 1px solid #f0eeee1e;font-size: 12px;border-radius: 20px;" routerLink="/wish" >View in wishlist</button></p>

        </div>
      </div>

      <!-- ------------------------------------------------- -->
    </div>

    <a class="navbar-brand text-center text-uppercase d-none d-md-block " routerLink="" style="font-size: 29px;letter-spacing: 2px;">Home<span class="text-secondary">ase</span></a>
    <a class="navbar-brand text-center text-uppercase d-block d-md-none" routerLink="" style="font-size: 20px;letter-spacing: 2px;">Home<span class="text-secondary">ase</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar"  aria-labelledby="offcanvasDarkNavbarLabel" style="width: 300px;">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white border" data-bs-dismiss="offcanvas" style="border-radius: 50%;background-color: rgba(218, 217, 217, 0.863)" aria-label="Close"></button>
        <p style="padding: 0; padding-top: 19px;font-size: 19px;">Welcome <span style="color: rgb(207, 125, 17);">{{username}}</span>!</p>
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img [src]="profilePicture?.profileImage ? profilePicture.profileImage : 'https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.webp'" routerLink="/prof" style="width: 40px;height: 40px; border-radius: 50%;border: 1px solid #FFF;padding: 4px;object-fit: cover;" alt=""></h5>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active text-uppercase" aria-current="page" routerLink=""><i class="fa-regular fa-file me-3"></i>Landing page</a>
          </li>
          
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/allpro"><i class="fa-solid fa-store me-3 text-secondary"></i>shop</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/cart"><i class="fa-solid fa-cart-shopping me-3 text-secondary"></i>Cart</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/wish"><i class="fa-solid fa-heart me-3 text-secondary"></i>wishlist</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/cate"><i class="fa-solid fa-list me-3 text-secondary"></i>All Catagory</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/brands"><i class="fa-regular fa-copyright me-3 text-secondary"></i>All brands</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/allpro"><i class="fa-solid fa-magnifying-glass me-3 text-secondary"></i>search</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/checkout"><i class="fa-solid fa-bag-shopping me-3 text-secondary"></i>order</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/contact"><i class="fa-solid fa-headset me-3 text-secondary"></i>contact</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/log"><i class="fa-regular fa-user me-3 text-secondary"></i>
              <span class="text-warning" *ngIf="username;else elsecasediv">
                {{username}}
              </span>
              <ng-template #elsecasediv class="text-secondary">
                Login
              </ng-template>
            </a>
          </li>
          <li class="nav-item" *ngIf="username">
            <hr>
            <a class="nav-link text-uppercase" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa-regular fa-circle-check fa-lg me-3 text-secondary"></i>Clear account</a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class=" border-0 shadow-lg" style="border-radius: 20px;">
                      <div class="modal-body border-0" style="border-radius: 20px;background-color: rgba(26, 26, 26, 0.932);">
                        <h4 class="bg-transparent">Clear Account?</h4>
                        <p class="bg-transparent mt-4" style="font-size: 11px;"><span class="bg-transparent text-warning">Clear Account:</span>
                          All your account data will be cleared. Whenever you log in to this account, 
                          it will appear as a new account, and your past activities will no longer be accessible.</p>
                          <p class="bg-transparent" style="font-size: 11px;"><span class="bg-transparent text-warning ">Info:</span> Clearing the account will only work for users, not for admins and other categories.</p>
                          <p class="bg-transparent" style="font-size: 11px;"> <span class="text-info bg-transparent">Logout:</span>To logout, go to your profile and then select logout.</p>
                          <hr>
                          <p class="m-0 bg-transparent"> Are you sure want to clear account <span class="text-success bg-transparent">{{username}}</span>?</p>

                        <div class="mt-4 d-flex justify-content-around bg-transparent">
                          <button class="btn text-uppercase btn-dark" style="font-size: 12px;border-radius: 20px; border: 1px solid rgb(117, 117, 117);" type="button"  data-bs-dismiss="modal">Cancel</button>
                          <button class="btn text-uppercase btn-light" style="font-size: 12px;border-radius: 20px; border: 1px solid rgb(117, 117, 117);" type="button" (click)="clear()">clear</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- ----------------------- -->
          </li>
        </ul>
        <hr>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item ">
            <a class="nav-link p-0 pt-3" style="font-size: 11px;" routerLink="">my account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" style="font-size: 11px;" routerLink="">help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" style="font-size: 11px;" routerLink="">faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" style="font-size: 11px;" routerLink="">Return Policy</a>
          </li>
        </ul>
        <div class="text-center pt-5">
         <p class="text-secondary fw-bold" style="letter-spacing: 1px;"> WE ARE AWESOME FOLOW US</p>
         <div class="pt-2 pb-3">
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-instagram"></i></a>
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-facebook-f"></i></a>
         </div>
        </div>
      </div>
    </div>
  </div>
</nav>