<nav class="navbar navbar-dark " style="position: sticky;top: 0;z-index: 9999;">
  <div class="container pt-3 pb-3">
    <div>
      
      <a class="navbar-brand " routerLink="" style="font-size: 14px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">CART (<span>0</span>)</a>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header pt-5">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <h5 class="offcanvas-title text-uppercase" id="offcanvasRightLabel">Cart</h5>
          <p class="m-0">item(<span>0</span>)</p>
        </div>
        <div class="offcanvas-body">
          Your Cart is Currently Empty
        </div>
      </div>

      <a class="navbar-brand me-0" routerLink="" style="font-size: 14px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRighttwo" aria-controls="offcanvasRighttwo"><i class="fa-regular fa-heart"></i> (<span>0</span>)</a>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRighttwo" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header pt-5">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <h5 class="offcanvas-title text-uppercase" id="offcanvasRightLabel">Wishlist</h5>
          <p class="m-0">item(<span>0</span>)</p>
        </div>
        <div class="offcanvas-body">
          Your Wishlist is Currently Empty
        </div>
      </div>
    </div>
    <a class="navbar-brand text-center text-uppercase d-none d-md-block " routerLink="" style="font-size: 29px;letter-spacing: 2px;">Home<span class="text-secondary">ase</span></a>
    <a class="navbar-brand text-center text-uppercase d-block d-md-none" routerLink="" style="font-size: 20px;letter-spacing: 2px;">Home<span class="text-secondary">ase</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <p style="padding: 0; padding-top: 19px;font-size: 19px;">Welcome!</p>
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="https://pics.craiyon.com/2023-11-15/BcL2X-ZvT9ShA3Q5RQPjzg.webp" routerLink="/prof" style="width: 40px;border-radius: 50%;border: 1px solid #FFF;padding: 4px;" alt=""></h5>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active text-uppercase" aria-current="page" routerLink=""><i class="fa-regular fa-file me-3"></i>Landing page</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-regular fa-star me-3 text-secondary"></i>new</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-solid fa-store me-3 text-secondary"></i>shop</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-solid fa-images me-3 text-secondary"></i>gallery</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-solid fa-list me-3 text-secondary"></i>All Catagory</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-regular fa-copyright me-3 text-secondary"></i>All brands</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-solid fa-magnifying-glass me-3 text-secondary"></i>search</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-solid fa-bag-shopping me-3 text-secondary"></i>order</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink=""><i class="fa-solid fa-headset me-3 text-secondary"></i>contact</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/log"><i class="fa-regular fa-user me-3 text-secondary"></i>Login</a>
          </li>
        </ul>
        <hr>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item ">
            <a class="nav-link p-0 pt-3" style="font-size: 11px;" routerLink="">my account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" style="font-size: 11px;" routerLink="">help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" style="font-size: 11px;" routerLink="">faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0" style="font-size: 11px;" routerLink="">Return Policy</a>
          </li>
        </ul>
        <div class="text-center pt-5">
         <p class="text-secondary fw-bold" style="letter-spacing: 1px;"> WE ARE AWESOME FOLOW US</p>
         <div class="pt-2 pb-3">
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-instagram"></i></a>
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#!" class="navbar-brand m-3"><i class="fa-brands fa-facebook-f"></i></a>
         </div>
        </div>
      </div>
    </div>
  </div>
</nav>