
<footer class="bg-body-tertiary text-light text-center text-lg-start" style="padding-top: 90px;">
    <hr>
    <div class="container p-4 pt-5">

      <div class="row">
   
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="nav-link text-light text-uppercase">CUSTOMER SERVICE</h5>
  
          <ul class="list-unstyled mb-0 mt-4">
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Help & Contact Us</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Returns & Refunds</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Online Stores</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Terms & Conditions</a>
            </li>
          </ul>
        </div>
   
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="nav-link text-light text-uppercase mb-0">COMPANY</h5>
  
          <ul class="list-unstyled mt-4">
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">What We Do</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Available Services</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Latest Posts</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">FAQs</a>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="nav-link text-light text-uppercase">SOCIAL MEDIA</h5>
  
          <ul class="list-unstyled mb-0 mt-4">
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Twitter</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Instagram</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Facebook</a>
            </li>
            <li>
              <a href="#!" class="nav-link text-secondary text-decoration-none">Pinterest</a>
            </li>
          </ul>
        </div>
    
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="nav-link text-light text-uppercase mb-0">PROFILE</h5>
  
          <ul class="list-unstyled mt-4">
            <li class="nav-item">
              <a href="#!" class="text-secondary text-decoration-none nav-link">My account</a>
            </li>
            <li>
              <a href="#!" class="text-secondary text-decoration-none nav-link">Checkout</a>
            </li>
            <li>
              <a href="#!" class="text-secondary text-decoration-none nav-link">Order</a>
            </li>
            <li>
              <a href="#!" class="text-secondary text-decoration-none nav-link">Help & Support</a>
            </li>
          </ul>
        </div>
       
      </div>

    </div>
  
    <div class="container d-md-flex  justify-content-between pt-3 pb-3">
      <div>
       <p class="m-2 text-start text-secondary"> © 2024 HomeEase, All Rights Reserved</p>
      </div>
      <div class="text-start">
        <span class="navbar-brand m-2 me-4 text-secondary" style="font-size: 13px;">follow Us</span>
         <a href="#!" class="navbar-brand m-2"><i class="fa-brands fa-instagram"></i></a>
         <a href="#!" class="navbar-brand m-2"><i class="fa-brands fa-whatsapp"></i></a>
         <a href="#!" class="navbar-brand m-2"><i class="fa-brands fa-x-twitter"></i></a>
         <a href="#!" class="navbar-brand m-2"><i class="fa-brands fa-facebook-f"></i></a>
       </div>
    </div>
  </footer>