<app-header></app-header>
<section style="min-height: calc(90vh - 56px);">
    <div class="d-flex justify-content-center align-items-center " style="height: 97vh;">
        <div class="row col-lg-4 col-md-7 col-sm-12 px-3">
            <div class="text-center">
                <p class="text-start py-2" style="border: 1px solid #ffffff1e;width: 241px;border-radius: 20px;background-color: rgba(84, 84, 85, 0.322);margin-left: 17%;" ><i class="fa-solid fa-headphones bg-transparent ps-3"></i> 4 support online <i class="fa-solid fa-layer-group bg-transparent ps-3"></i> <span class="bg-transparent text-decoration-underline">Join us</span></p>
                <h1 style="font-size: 45px;">Lets Have a Chat 👋🏻</h1>
                <p class="text-center text-secondary" style="font-size: 17px;">Questions about our products/interface, order. or just want to say hello? We're hear to healp</p>
            </div>
           <form action="" class="mt-4">
            <div class="d-flex mb-3">
               
                <div class="me-3 w-100">
                    <label for="">First name</label>
                    <input type="text" class="form-control bg-transparent text-light " placeholder="Alex">
                </div>
                <div class="w-100">
                    <label for="">Last name</label>
                    <input type="text" class="form-control bg-transparent text-light" placeholder="Js">
                </div>
            </div>
            <div class="d-flex mb-3">
               <div class="w-100 me-3">
                <label for="">Email</label>
                <input type="email"   class="form-control bg-transparent text-light" placeholder="alex@gmail.com">
               </div>
                <div class="w-100">
                    <label for="">Phone number</label>
                    <input type="text" class="form-control bg-transparent text-light" placeholder="Subject">
                </div>
            </div>
            <label for="">Message</label>
            <textarea name="" id="" rows="4" class="form-control bg-transparent text-light" placeholder="Hey i have some issues activating my account..."></textarea>
            <div class="mt-4">
                <button class="btn bg-light text-dark w-100">Just send</button>
            </div>
           </form>
           <div class="d-flex justify-content-center align-items-center mt-2 text-secondary">
            <hr style="width: 36%;">
            <i class="fa-brands fa-x-twitter px-3 text-secondary"></i>
            <i class="fa-brands fa-instagram text-secondary"></i>
            <i class="fa-brands fa-whatsapp px-3 text-secondary"></i>
            <hr style="width: 36%;">
           </div>
        </div>
    </div>
</section>
