<!-- Popup Edit Button -->
<button type="button" class="btn btn-outline-light flex-fill w-100" data-bs-toggle="modal" data-bs-target="#exampleModal3" (click)="getData()">
  Edit
  </button>
  
  <!-- Modal Section -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content border-0 shadow-lg">
          <div class="border" *ngFor="let i of eProduct">
            <p>{{i.title}}</p>
            <p>{{i.price}}</p>
          </div>
      </div>
    </div>
  </div>
  