<section style="min-height: calc(100vh - 56px);">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between pt-5" >
            <div class="d-flex align-items-center">
                <span class="border px-3 py-2"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
            <h3 class="m-0 ps-4">New products</h3>
            </div>
            <div class="">
                <button class="btn btn-outline-light" (click)="cancelData()">Clear All</button>
            </div>
        </div>
        <hr>
        <form autocomplete="off" [formGroup]="addProductdata"  (ngSubmit)="formProductData()" >
            <div class="row" >
                <div class="col-lg-6" style="border-radius: 12px;background-color: rgba(128, 128, 128, 0.336);">
                    <div class="m-4 mx-3 p-4" style="border-radius: 12px;">
                        <div class="mb-5">
                            <h5 class="">Description</h5>
                            <div class="border p-3" style="border-radius: 12px;">
                                <div class="mb-3">
                                    <label for="">Product Name</label>
                                    <input type="text" placeholder="Title" formControlName="title" class="form-control p-3 py-2" style="background-color: transparent;color: #FFF;border-radius: 10px;"  >
                                    <div class="text-danger" style="font-size: 12px;" *ngIf="addProductdata.get('title')?.invalid && addProductdata.get('title')?.touched " >*Invalid Title</div>
                                </div>
                                <div class="">
                                    <label for="">Bussines Description</label>   
                                    <!-- <input type="text" placeholder="description" formControlName="description" class="form-control p-3 py-2" style="background-color: transparent;color: #FFF;border-radius: 10px;"  > -->
                                    <textarea type="text" placeholder="description" formControlName="description" class="form-control p-3 py-2" style="background-color: transparent;color: #FFF;border-radius: 10px;"  ></textarea>
                                    <div class="text-danger" style="font-size: 12px;" style="font-size: 12px;" *ngIf="addProductdata.get('description')?.invalid && addProductdata.get('description')?.touched " >*Invalid description</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5 class="">Category</h5>
                            <div class="border p-3" style="border-radius: 12px;">
                                <div class="mb-3">
                                    <label for="">Product category</label>
                                    <select class="form-select " formControlName="category" aria-label="Default select example" class="form-control p-3 py-2" style="background-color: transparent;color: #FFF;border-radius: 10px;"  >
                                        <option class="text-secondary" selected disabled value="">--Category--</option>
                                        <option  *ngFor="let i of category" [value]="i">{{i}}</option>
                                        
                                      </select>
                                    <div class="text-danger" style="font-size: 12px;" *ngIf="addProductdata.get('title')?.invalid && addProductdata.get('title')?.touched " >*Invalid Title</div>
                                </div>
                                <div class="">
                                    <label for="">Add Category</label>   
                                    <input type="text" placeholder="add" formControlName="title" class="form-control p-3 py-2" style="background-color: transparent;color: #FFF;border-radius: 10px;"  >
                                    <div class="text-danger" style="font-size: 12px;" style="font-size: 12px;" *ngIf="addProductdata.get('description')?.invalid && addProductdata.get('description')?.touched " >*Invalid description</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                   <div class="m-4" style="background-color: rgba(128, 128, 128, 0.336);">
    n
                   </div>
                </div>
            </div>
        </form>
    </div>
</section>