<section class="h-100">
  <div class="container-fluid py-4 h-100">
    <nav class="row">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-between col-lg-2 col-md-4 col-sm-9">
          <p class="m-0 d-none d-md-block text-uppercase h4" routerLink="/" style="cursor: pointer;">Homease</p>
          <p class="m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasleft" aria-controls="offcanvasleft">
            <i class="fa-solid fa-bars fa-xl"></i>
          </p>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasleft" aria-labelledby="offcanvasleftLabel" style="width: 270px;">
          <div class="offcanvas-header py-4">
            <h5 id="offcanvasleftLabel" class="text-uppercase">Homease</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="border-radius: 50%;background-color: rgba(218, 217, 217, 0.863)"></button>
          </div>
          <div class="offcanvas-body p-0">
            <div class="w-100 my-4">
              <div class="d-flex flex-column align-items-center">
                <div class="mb-3">
                  <img [src]="profilePicture?.profileImage ? profilePicture.profileImage : 'https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.webp'" style="width: 80px;height: 80px; border-radius: 50%;object-fit: cover;" alt="">
                </div>
                <div class="text-center">
                  <h4>{{profilePicture.username}}</h4>
                  <p>{{profilePicture.email}}</p>
                </div>
              </div>
              <p class="px-3 m-0 text-secondary">Menu</p>
              <hr class="mt-0">
              <ul class="list-group" style="cursor: pointer;">
                <li class="list-group-item active bg-transparent text-light text-uppercase" routerLink="/adash">
                  <i class="fa-solid fa-table-cells-large pe-2"></i>dashboard
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase" routerLink="/">
                  <i class="fa-solid fa-house pe-2"></i>Home
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase" routerLink="/prof">
                  <i class="fa-regular fa-address-card pe-2"></i>Profile
                </li>
              </ul>
              <p class="px-3 pt-4 m-0 text-secondary">Management</p>
              <hr class="mt-0">
              <ul class="list-group">
                <li class="list-group-item bg-transparent text-light text-uppercase"style="cursor: pointer;">
                  <i class="fa-solid fa-cart-shopping pe-2"></i>products
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase"style="cursor: pointer;" routerLink="/addproduct">
                  <i class="fa-solid fa-circle-plus pe-2"></i>Add product
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase d-flex justify-content-between align-items-center">
                  <span><i class="fa-solid fa-arrow-trend-up pe-2"></i>Order</span>
                  <span class="badge border badge-pill text-danger">0</span>
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase d-flex justify-content-between align-items-center">
                  <span><i class="fa-solid fa-user pe-2"></i>users</span>
                  <span class="badge border badge-pill text-danger">0</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex w-100">
          <input type="search" placeholder="search" class="form-control bg-transparent text-light mx-4 w-100 py-2">
          <button class="btn btn-outline-light"><i class="fa-solid fa-arrow-right-from-bracket btn-outline-light bg-transparent"></i></button>
        </div>
      </div>
    </nav>
    <div class="col-12">
      <hr>
      <div class="mb-4">
        <h1>Dashboard</h1>
        <h6 class="text-uppercase p-3 rounded" style="background-color: rgba(94, 93, 93, 0.534);">Welcome name</h6>
      </div>
      <div class="row mx-1 justify-content-around">
        <div class="col-lg-2 col-md-5 col-sm-12 mb-4">
          <div class="card bg-transparent border">
            <div class="card-body">
              <div class="d-flex align-items-center text-hover-success">
                <div class="avatar w-56 m-2 no-shadow bg-success p-3" style="border-radius: 50%;">
                  <i class="fa-solid fa-cart-shopping fa-xl bg-transparent"></i>
                </div>
                <div class="px-4 flex w-100">
                  <div>Products</div>
                  <div class="text-success mt-2">{{products.length}}</div>
                </div>
                <span>
                  <i class="fa-solid fa-angles-right fa-lg" routerLink="/allpro"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-12 mb-4">
          <div class="card bg-transparent border">
            <div class="card-body">
              <div class="d-flex align-items-center text-hover-success">
                <div class="avatar w-56 m-2 no-shadow bg-danger p-3" style="border-radius: 50%;">
                  <i class="fa-solid fa-user-group fa-xl bg-transparent"></i>
                </div>
                <div class="px-4 flex w-100">
                  <div>Users</div>
                  <div class="text-success mt-2">{{allUser.length}}</div>
                </div>
                <span>
                  <i class="fa-solid fa-angles-right fa-lg"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-12 mb-4">
          <div class="card bg-transparent border">
            <div class="card-body">
              <div class="d-flex align-items-center text-hover-success">
                <div class="avatar w-56 m-2 no-shadow bg-warning p-3" style="border-radius: 50%;">
                  <i class="fa-solid fa-arrow-trend-up fa-xl bg-transparent"></i>
                </div>
                <div class="px-4 flex w-100">
                  <div>Order</div>
                  <div class="text-success mt-2">0</div>
                </div>
                <span>
                  <i class="fa-solid fa-angles-right fa-lg"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
          <app-calender></app-calender>
        </div>
      </div>
    </div>
  </div>
</section>
