<section style="min-height: calc(100vh - 56px);">
  <div class="container-fluid py-4 h-100">
    <nav class="row">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-between col-lg-2 col-md-4 col-sm-9">
          <p class="m-0 d-none d-md-block text-uppercase h4" routerLink="/" style="cursor: pointer;">Homease</p>
          <p class="m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasleft" aria-controls="offcanvasleft">
            <i class="fa-solid fa-bars fa-xl"></i>
          </p>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasleft" aria-labelledby="offcanvasleftLabel" style="width: 270px;">
          <div class="offcanvas-header py-4">
            <h5 id="offcanvasleftLabel" class="text-uppercase">Homease</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="border-radius: 50%;background-color: rgba(218, 217, 217, 0.863)"></button>
          </div>
          <div class="offcanvas-body p-0">
            <div class="w-100 my-4">
              <div class="d-flex flex-column align-items-center">
                <div class="mb-3">
                  <img [src]="profilePicture?.profileImage ? profilePicture.profileImage : 'https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.webp'" style="width: 80px;height: 80px; border-radius: 50%;object-fit: cover;" alt="">
                </div>
                <div class="text-center">
                  <h4>{{profilePicture.username}}</h4>
                  <p>{{profilePicture.email}}</p>
                </div>
              </div>
              <p class="px-3 m-0 text-secondary">Menu</p>
              <hr class="mt-0">
              <ul class="list-group" style="cursor: pointer;">
                <li class="list-group-item active bg-transparent text-light text-uppercase" routerLink="/adash">
                  <i class="fa-solid fa-table-cells-large pe-2"></i>dashboard
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase" routerLink="/">
                  <i class="fa-solid fa-house pe-2"></i>Home
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase" routerLink="/prof">
                  <i class="fa-regular fa-address-card pe-2"></i>Profile
                </li>
              </ul>
              <p class="px-3 pt-4 m-0 text-secondary">Management</p>
              <hr class="mt-0">
              <ul class="list-group">
                <li class="list-group-item bg-transparent text-light text-uppercase" style="cursor: pointer;" routerLink="/editproduct">
                  <i class="fa-solid fa-cart-shopping pe-2"></i>All products & Edit
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase" style="cursor: pointer;" routerLink="/addproduct">
                  <i class="fa-solid fa-circle-plus pe-2"></i>Add product
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase d-flex justify-content-between align-items-center">
                  <span><i class="fa-solid fa-arrow-trend-up pe-2"></i>Order</span>
                  <span class="badge border badge-pill text-danger">0</span>
                </li>
                <li class="list-group-item bg-transparent text-light text-uppercase d-flex justify-content-between align-items-center">
                  <span><i class="fa-solid fa-user pe-2"></i>users</span>
                  <span class="badge border badge-pill text-danger">{{allUser.length}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex w-100 justify-content-end">
          <button class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"   ><i class="fa-solid fa-arrow-right-from-bracket btn-outline-light bg-transparent" ></i></button>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content border-0 shadow-lg" >
                <div class="text-center p-5" style="background-color: rgba(31, 30, 30, 0.925);">
                  <div class="bg-transparent">
                    <span class="bg-transparent"><i class="fa-solid fa-right-from-bracket text-danger p-4"  style="border-radius: 50%;background-color: rgba(243, 2, 2, 0.301);"></i></span>
                  </div>
                  <div class="mt-4 bg-transparent">
                    <h4 class="bg-transparent">Logout Account?</h4>
                    <p class="m-0 bg-transparent" style="font-size: 12px;">Are you sure you would like to log out of your account?</p>
                  </div>

                  <button class="text-uppercase btn btn-outline-danger w-100 mt-3" (click)="logout()">Log out</button>
                </div> 
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-12">
        
        <div class="nav flex-column nav-tabs text-center mt-5 border-0" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
          <p class="text-start text-light" style="font-size: 12px;">Management</p>
          <a
            class="nav-link active text-secondary text-uppercase"
            id="v-tabs-home-tab"
            data-bs-toggle="tab"
            href="#v-tabs-home"
            role="tab"
            aria-controls="v-tabs-home"
            aria-selected="true"
          >Dashboard</a>
          <a
            class="nav-link text-secondary text-uppercase"
            id="v-tabs-profile-tab"
            data-bs-toggle="tab"
            href="#v-tabs-profile"
            role="tab"
            aria-controls="v-tabs-profile"
            aria-selected="false"
          >Add product</a>
          <a
            class="nav-link text-secondary text-uppercase"
            id="v-tabs-messages-tab"
            data-bs-toggle="tab"
            href="#v-tabs-messages"
            role="tab"
            aria-controls="v-tabs-messages"
            aria-selected="false"
          >Editproduct</a>
          <a
            class="nav-link text-secondary text-uppercase"
            id="v-tabs-feed-tab"
            data-bs-toggle="tab"
            href="#v-tabs-feed"
            role="tab"
            aria-controls="v-tabs-feed"
            aria-selected="false"
          >FeedBack</a>
        </div>
        <!-- Tab navs -->
      </div>
      <div class="col-lg-10 col-md-9 col-sm-12">
        <!-- Tab content -->
        <div class="tab-content" id="v-tabs-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-tabs-home"
            role="tabpanel"
            aria-labelledby="v-tabs-home-tab"
          >
            <div class="mb-4" style="margin-top: 35px;">
              <h1>Dashboard</h1>
              <div class="p-3 pb-2 rounded d-flex justify-content-between align-items-center" style="background-color: rgba(94, 93, 93, 0.534);">
                <h6 class="text-uppercase  bg-transparent" >Welcome <span class="text-warning bg-transparent">{{profilePicture.username}}</span></h6>
              <p class="m-0 bg-transparent">{{today | date:'h:mm a'}}</p>
              </div>
            </div>
            <div class="row mx-1 justify-content-between">
              <div class="col-lg-3 col-md-5 col-sm-12 mb-4">
                <div class="card bg-transparent border">
                  <div class="card-body w-100">
                    <div class="d-flex align-items-center text-hover-success">
                      <div class="avatar w-56 m-2 no-shadow bg-success p-3" style="border-radius: 50%;">
                        <i class="fa-solid fa-cart-shopping fa-xl bg-transparent"></i>
                      </div>
                      <div class="px-4 flex w-100">
                        <div>Products</div>
                        <div class="text-success mt-2">{{products.length}}</div>
                      </div>
                      <span>
                        <i class="fa-solid fa-angles-right fa-lg" routerLink="/editproduct"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-5 col-sm-12 mb-4">
                <div class="card bg-transparent border">
                  <div class="card-body">
                    <div class="d-flex align-items-center text-hover-success">
                      <div class="avatar w-56 m-2 no-shadow bg-danger p-3" style="border-radius: 50%;">
                        <i class="fa-solid fa-user-group fa-xl bg-transparent"></i>
                      </div>
                      <div class="px-4 flex w-100">
                        <div>Users</div>
                        <div class="text-success mt-2">{{allUser.length}}</div>
                      </div>
                      <span type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"  >
                        <i class="fa-solid fa-angles-right fa-lg"></i>
                      </span>
                    </div>
                  </div>
                </div>
                      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal">
                          <div class="modal-content shadow-lg" style="border: 1px solid rgba(128, 128, 128, 0.671);">
                            <div class="d-flex justify-content-between p-3" style="background-color: rgba(0, 0, 0, 0.89);">
                              <h3 class="m-0 bg-transparent text-uppercase">Users</h3>
                              <button  type="button" class="btn" data-bs-dismiss="modal"><i class="fa-brands fa-x-twitter fa-lg bg-transparent"></i></button>
                            </div>
                            <hr class="m-0">
                            <div class="p-3 d-flex align-items-center">
                              <span><i class="fa-solid fa-magnifying-glass fa-lg text-secondary"></i></span>
                              <input type="search" class=" w-100 ps-2 bg-transparent border-0 text-light" style="outline: none;" placeholder="Search username, email" [(ngModel)]="searchKey" >
                            </div>
                            <hr class="m-0">
                            <div class="text-center py-3 pt-0 px-2" style="background-color: rgba(0, 0, 0, 0.89);height: 310px;overflow-y: scroll;">
                              <div class="bg-transparent"  *ngFor="let i of allUser | search:searchKey">
                                <hr>
                                <div class="d-flex justify-content-between align-items-center mb-3 bg-transparent px-3"        > 
                                  <div class="d-flex align-items-center bg-transparent">
                                    <div class="pe-3 bg-transparent">
                                      <img [src]="i?.profileImage ? i.profileImage : 'https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.webp'"  class="bg-transparent" style="width: 45px;height: 45px;border-radius: 50%;object-fit: cover;" alt="Prof">
                                    </div>
                                    <div class="text-start bg-transparent">
                                      <h6 class="m-0 bg-transparent">{{i?.username}}</h6>
                                      <p class="m-0 bg-transparent text-secondary">{{i?.email}}</p>
                                    </div>
                                  </div>
                                  <div class="bg-transparent">
                                   <button class="btn btn-outline-danger" (click)="deleteUser(i?._id)">Delete</button>
                                  </div>
                                </div>
                               
                              </div>
                              <div ngClass="bg-transparent"  *ngIf="(allUser | search:searchKey).length === 0" class="text-center text-light w-100">
                                <p class="m-0 pt-5 bg-transparent">"<span class="text-secondary">{{ searchKey }}</span>"not fount. please try different name or email</p>
                            </div>
                            </div> 
                          </div>
                        </div>
                      </div>
              </div>
              <div class="col-lg-3 col-md-5 col-sm-12 mb-4">
                <div class="card bg-transparent border">
                  <div class="card-body">
                    <div class="d-flex align-items-center text-hover-success">
                      <div class="avatar w-56 m-2 no-shadow bg-warning p-3" style="border-radius: 50%;">
                        <i class="fa-solid fa-arrow-trend-up fa-xl bg-transparent"></i>
                      </div>
                      <div class="px-4 flex w-100">
                        <div>Order</div>
                        <div class="text-success mt-2">0</div>
                      </div>
                      <span>
                        <i class="fa-solid fa-angles-right fa-lg"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
                <app-calender></app-calender>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <app-feedback></app-feedback>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-tabs-profile"
            role="tabpanel"
            aria-labelledby="v-tabs-profile-tab"
          >
            <app-addproduct></app-addproduct>
          </div>
          <div
            class="tab-pane fade"
            id="v-tabs-messages"
            role="tabpanel"
            aria-labelledby="v-tabs-messages-tab"
          >
          <app-editproduct ></app-editproduct>
          </div>
          <div
            class="tab-pane fade"
            id="v-tabs-feed"
            role="tabpanel"
            aria-labelledby="v-tabs-feed-tab"
          >
          <app-feedback ></app-feedback>
          </div>
        </div>
    

      </div>
    </div>
  </div>
</section>